##############
# common project
##############
# spyder
.spyproject/
*/.spyproject/
*/.spyproject/*
*/.spyproject/*/*

# jupyterlab meta
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# pycharm meta
*/.idea/

# vscode
.vscode/
*/.vscode/

# Rstudio history
*/.Rhistory

# macos meta
*/.DS_Store
*/.Trash/

# snakemake configure
*/.snakemake/
samples.json

# HEXO public
/public/
/.deploy_git/

# TexPad temp
/.texpadtmp/

# Polaris slurm system
sna*.err
sna*.out
job.srp*
slurm-*.out


# Others
/tmpdir_*/
.localized